@import "tailwindcss";

/* @font-face {
  font-family: "8bitoperator JVE";
  src: url("/fonts/8bitoperator-JVE.woff2") format("woff2"), url("/fonts/8bitoperator-JVE.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@theme {
  --accent: oklch(0 0 0);
  --bg: oklch(0 0 0);
  --border: oklch(0 0 0);
  /* --8bit: "8bitoperator JVE", serif; */
}

@layer components {
  .glass {
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow:
      inset 0 0 0 0.5px rgba(255, 255, 255, 0.3),
      0 8px 30px rgba(0, 0, 0, 0.45);
  }

  .menu-item {
    transition: all 0.2s ease;
  }

  .menu-item--active {
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
  }
}

@layer base {
  * {
    @apply select-none touch-manipulation;
  }

  body {
    @apply bg-black text-white lowercase;
    @apply font-(family-name:--mainFont);
  }

  h1 {
    @apply font-(family-name:--titleFont) pointer-events-none;
  }

  img {
    @apply pointer-events-none;
  }

  button {
    @apply border border-white/80 py-1 pb-1.5 px-2 font-bold cursor-pointer rounded-lg;
  }

  textarea {
    @apply bg-white text-black border rounded-lg outline-none p-1.5 resize-none;
  }

  input[type="text"] {
    @apply bg-white text-black border rounded-lg outline-none pl-1;
  }

  input[type="search"] {
    @apply bg-white text-black border rounded-lg outline-none pl-1;
  }

  input[type="number"] {
    @apply bg-white text-black border rounded-lg outline-none pl-1;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  input[type="search"]::-moz-search-clear {
    display: none;
  }

  input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: var(--bg);
    border-radius: 999px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4.5px;
  }

  input[type="range"]::-moz-range-track {
    height: 6px;
    background: var(--bg);
    border-radius: 999px;
  }

  input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }

  input[type="range"]::-moz-focus-outer {
    border: 0;
  }
}
